

<div class="jumbotron">
    <h1><span>Transaction Completed</span></h1>
    <p class="lead">This is simply a test</p>
    <p><button type="button" class="btn btn-primary btn-large" onclick="location.href='@Url.Action("Index", "Home")'">Go back to Homepage &raquo;</button></p>
</div>

