@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <br />
    <br />
    <abbr title="Phone">:</abbr>
    +2348162469229</address>

<address>
    <strong>Support:</strong>   <a href="mailto:sensationalkunlex@gmail.com">sensationalkunlex@gmail.com</a><br />
    
</address>