
@{
ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>FEEDS: RAW MATERIALS STOCK CONTROL RECORD (RMSCR)</h1>
    <p class="lead"> Developed for a leading Agro-Allied Company in Nigeria. </p>
    <p><button type="button" class="btn btn-primary btn-large" onclick="location.href='@Url.Action("Transaction", "Home")'">Transaction Page &raquo;</button></p>
    <p> Testing Mode</p>
</div>